:root{
    --green: #12A65F;
    --light-green: #40DF93;
    --black: #373737;
    --light-black: #2F2F2F;
    --white: #F4FBF7;
    --orange: #FFA500;
}
html{
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    color: var(--black);
}
p{
    color: var(--light-black);
}
a{
    text-decoration: none;
    color: var(--black);
}
#introduction{
    position: relative;
    background-color: #F4FBF7;
    display: flex;
    height: 100vh;
    background-color: var(--white);
}
#introduction header{
    position: absolute;
    top: 0;
    display: flex;
    align-items: center;
}
#introduction header img{
    height: 3.5rem;
    margin: auto 4rem auto 6rem;
}
#introduction header nav ol{
    display: flex;
    list-style: none;
}
#introduction header nav ol li a{
    text-decoration: none;
    margin-right: 3rem;
}
#introduction .left{
    width: 45%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#introduction .left div{
    width: 35rem;
}
#introduction .left h1{
    font-size: 3rem;
    font-weight: 600;
    line-height: 3.5rem;
    margin-bottom: 1rem;
}
#introduction .left p{
    font-size: 0.9rem;
}
#introduction .left a{
    background-color: var(--green);
    border: none;
    padding: 1rem 2rem;
    border-radius: 2rem;
}
#introduction .right{
    width: 55%;
    background-color: var(--green);
    border-radius: 0 0 0 25rem;
    position: relative;
}
#introduction .right img{
    position: absolute;
    right: 7.5rem;
    top: 2rem;
    height: 34rem;
    transform: rotate(10deg);
}
#introduction .right > div{
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1rem;
}
#introduction .right > div span{
    font-size: 5rem;
    color: var(--light-green);
}
#introduction .right > div:nth-of-type(1){
    position: absolute;
    top: 9rem;
    right: 33rem;
    width: 5rem;
    height: 5rem;
    padding: 0.5rem 0.5rem;
}
#introduction .right > div:nth-of-type(2){
    position: absolute;
    top: 15rem;
    right: 6rem;
    height: 5rem;
    padding: 0.5rem 1.5rem 0.5rem 1rem;
}
#introduction .right > div:nth-of-type(3){
    position: absolute;
    bottom: 10rem;
    right: 26rem;
    height: 5rem;
    padding: 0.5rem 1.5rem 0.5rem 1rem;
}
#introduction .right > div > div{
    display: flex;
    flex-direction: column;
    margin-left: 1rem;
}

#description{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
#description .right{
    width: 50%;
    display: flex;
    justify-content: right;
}
#description .right img{
    height: 30rem;
}
#description .left{
    width: 50%;
    padding-right: 9rem;
}
#description .left > div:nth-of-type(2){
    margin-top: 2rem;
}
#description .left > div:nth-of-type(2) > div{
    display: flex;
}
#description .left > div:nth-of-type(2) > div > span{
    margin: 0.3rem 1rem auto auto;
    color: var(--green);
}
#services{
    height: 100vh;
    display:flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--white);
}
#services .top{
    display: flex;
    align-items: center;
    padding: 5rem 10rem 0 10rem;
}
#services .top h1{
    font-size: 3rem;
}
#services .top div h2{
    color: var(--green);
}
#services .bottom{
    margin-top: 2.5rem;
    display: flex;
    align-items:center;
    justify-content: space-around;
    width: 80%;
}
#services .bottom .card{
    width: 15rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    height: 20rem;
    transition: transform 0.5s ease-in-out ;
}
#services .bottom .card:hover{
    transform: scale(1.1);
    box-shadow:
    5cqb 0px 50px 0px rgba(216, 216, 216, 0.5), /* Right side shadow */
    -5px 0px 50px 0px rgba(216, 216, 216,0.5), /* Left side shadow */
    5px 10px 50px 0px rgba(216, 216, 216,0.5), /* Top side shadow */
    5px -10px 50px 0px rgba(216, 216, 216,0.5); /* Bottom side shadow */
    ;
}
#services .bottom .card span{
    color: var(--light-green);
    font-size: 5rem;
    margin: 2rem auto;
}
#services .bottom .card h2{
    font-weight: 500;
    margin-bottom: 2rem;
}

#pricing{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#pricing .top{
    display: flex;
    padding: 0 10rem 2rem 15rem;
    align-items: center;
}
#pricing .top div h2{
    color: var(--orange);
}
#pricing .top h1{
    font-size: 3rem;
}
#pricing .bottom{
    display: flex;
    justify-content: space-around;
    width: 80%;
}
#pricing .bottom .card{
    width: 15rem;
    height: 25rem;
    padding: 1rem;
    border-radius: 1rem;
    position: relative;
    transition: background-color 0.5s ease-in-out, transform 0.5s ease-in-out;
}
#pricing .bottom .card:hover{
    background-color: var(--light-green);
    transform: scale(1.05);
}
#pricing .bottom .card > p:nth-of-type(1) span{
    font-size: 3rem;
    font-weight: 500;
    color: var(--orange);
}
#pricing .bottom .card h2{
    font-size: 400;
}
#pricing .bottom .card p:nth-of-type(2){
    font-size: 0.9rem;
    margin-bottom: 1.5rem;
}
#pricing .bottom .card ul{
    margin: auto auto 2rem 1rem;
}
#pricing .bottom .card ul li{
    margin-bottom: 0.5rem;
}
#pricing .bottom .card a{
    position: absolute;
    bottom: 1.5rem;
    background-color: var(--green);
    color: var(--white);
    padding: 0.5rem 1rem;
    border-radius: 2rem;
}
#order{
    position: relative;
    height: 50vh;
    overflow: hidden;
    background-color: var(--white);
}
#order img{
    position: absolute;
    right: 2rem;
    top: -9rem;
    width: 45rem;
    z-index: 0;
}
#order h1{
    font-size: 3rem;
    margin: 6rem auto 1rem 5rem;
    position: relative;
    z-index: 1;
    color: var(--orange);
}
#order p{
    font-size: 0.99rem;
    margin: auto auto 2rem 5rem;
    color: var(--light-black);
}
#order a{
    background-color: var(--green);
    color: var(--white);
    padding: 1rem 1.5rem;
    border-radius: 2rem;
    margin-left: 5rem;
    transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out;
}
#order a:hover{
    background-color: var(--light-green);
    color: var(--green);
}
footer{
    height: 50vh;
    display: flex;
    align-items: center;
    flex-direction: column;
}
footer > div:nth-of-type(1){
    margin-top: 2rem;
    display: flex;
    justify-content: space-around;
    width: 80%;
}
footer > div:nth-of-type(1) > div{
    width: 20rem;
    padding: 1rem;
}
footer > div:nth-of-type(1) > div h1{
    font-weight: 600;
    font-size: 1.5rem;
    color: var(--orange);
    margin-bottom: 1rem;
}
footer > div:nth-of-type(1) > div:nth-of-type(1){
    width: 8rem;
}
footer > div:nth-of-type(1) > div:nth-of-type(1) ul{
    list-style: none;
}
footer > div:nth-of-type(1) > div:nth-of-type(1) ul li{
    margin-bottom: 0.5rem;
    font-weight: bold;
}
footer > div:nth-of-type(1) > div:nth-of-type(2) p{
    font-size: 0.9rem;
    color: var(--light-black);
}
footer > div:nth-of-type(1) > div:nth-of-type(2){
    width: 15rem;
}
footer > div:nth-of-type(1) > div:nth-of-type(3) > div div{
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
}
footer > div:nth-of-type(1) > div:nth-of-type(3) > div div span{
    color: var(--green);
}
footer > div:nth-of-type(1) > div:nth-of-type(3) form input{
    border-radius: 0px;
    border: 2px solid var(--green);
    padding: 0.5rem 1rem;
}
footer > div:nth-of-type(2){
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    background-color: var(--white);
}
footer > div:nth-of-type(2) img{
    height: 3rem;
    margin-left: 5rem;
}
footer > div:nth-of-type(2) p{
    font-weight: bold;
    color: var(--green);
    margin-left: 2rem;
}
